.abroad{
    border: 2px solid steelblue;
    margin: 10px;
    padding: 10px;
    border-radius: 14px;
}

.visited {
    background-color: salmon;
}
.not-visited {
    background-color: rgba(255, 99, 71, 0.137);
}