.abroad{
    border: 2px solid steelblue;
    margin: 10px;
    padding: 10px;
    border-radius: 14px;
}

.visited {
    background-color: steelblue;
    color: #fff;
}
.not-visited {
    background-color: black;
    color: #fff;
}